/* line 1, ../../../app/stylesheets/site.scss */
#sidebar {
  width: 180px;
  /*width of menu*/
}

/* line 5, ../../../app/stylesheets/site.scss */
#headerbar {
  font: bold 14px Arial;
  color: white;
  background: black url(titlebar.png) repeat-x center left;
  margin-bottom: 10px;
  /*bottom spacing between header and rest of content*/
  text-transform: uppercase;
  padding: 4px 0 4px 10px;
  /*header text is indented 10px*/
}

/* line 14, ../../../app/stylesheets/site.scss */
#tabs3 {
  float: left;
  width: 100%;
  background: #E4E6EB;
  font-size: 93%;
  line-height: normal;
}

/* line 21, ../../../app/stylesheets/site.scss */
#tabs3 ul {
  margin: 0;
  padding: 10px 10px 0 50px;
  list-style: none;
}

/* line 26, ../../../app/stylesheets/site.scss */
#tabs3 li {
  display: inline;
  margin: 0;
  padding: 0;
}

/* line 31, ../../../app/stylesheets/site.scss */
#tabs3 a {
  float: left;
  background: url("tableft3.gif") no-repeat left top;
  margin: 0;
  padding: 0 0 0 4px;
  text-decoration: none;
}

/* line 38, ../../../app/stylesheets/site.scss */
#tabs3 a span {
  float: left;
  display: block;
  background: url("tabright3.gif") no-repeat right top;
  padding: 5px 15px 4px 6px;
  color: #FFF;
}

/* line 47, ../../../app/stylesheets/site.scss */
.invertedshiftdown2 {
  padding: 0;
  width: 100%;
  border-top: 5px solid #D10000;
  /*Highlight red color theme*/
  background: transparent;
  voice-family: "\"}\"";
  voice-family: inherit;
}

/* line 56, ../../../app/stylesheets/site.scss */
.invertedshiftdown2 ul {
  margin: 0;
  margin-left: 140px;
  /*margin between first menu item and left browser edge*/
  padding: 0;
  list-style: none;
}

/* line 63, ../../../app/stylesheets/site.scss */
.invertedshiftdown2 li {
  display: inline;
  margin: 0 2px 0 0;
  padding: 0;
  text-transform: uppercase;
}

/* line 70, ../../../app/stylesheets/site.scss */
.invertedshiftdown2 a {
  float: left;
  display: block;
  font: bold 12px Arial;
  color: black;
  text-decoration: none;
  margin: 0 1px 0 0;
  /*Margin between each menu item*/
  padding: 5px 10px 5px 10px;
  /*Padding within each menu item*/
  background-color: lightblue;
  /*Default menu color*/
  border-bottom: 8px solid white;
}

/* line 82, ../../../app/stylesheets/site.scss */
.invertedshiftdown2 a:hover {
  background-color: #D10000;
  /*Highlight red color theme*/
  padding-top: 10px;
  /*Set padding-top value to default's padding-top + padding-bottom */
  padding-bottom: 0;
  /*Set padding-bottom value to 0 */
  border-bottom-color: #D10000;
  /*Highlight red color theme*/
  color: white;
}

/* line 90, ../../../app/stylesheets/site.scss */
.invertedshiftdown2 .current a {
  /** currently selected menu item **/
  background-color: #D10000;
  /*Highlight red color theme*/
  padding-top: 10px;
  /*Set padding-top value to default's padding-top + padding-bottom */
  padding-bottom: 0;
  /*Set padding-bottom value to 0 */
  border-bottom-color: #D10000;
  /*Highlight red color theme*/
  color: white;
}

/* line 98, ../../../app/stylesheets/site.scss */
#myform {
  /*CSS for sample search box. Remove if desired */
  float: right;
  margin: 0;
  margin-top: 2px;
  padding: 0;
}

/* line 105, ../../../app/stylesheets/site.scss */
#myform .textinput {
  width: 190px;
  border: 1px solid gray;
}

/* line 110, ../../../app/stylesheets/site.scss */
#myform .submit {
  font: normal 12px Verdana;
  height: 22px;
  border: 1px solid #D10000;
  background-color: black;
  color: white;
}

/* line 121, ../../../app/stylesheets/site.scss */
.formContainer {
  background-color: #a9cff3;
  border: none;
  padding: 30px;
  width: 600px;
}

/* line 129, ../../../app/stylesheets/site.scss */
.formContainer h3 {
  margin: 0px;
  padding: 0px 0px 10px 0px;
  font-size: 135%;
}

/* line 135, ../../../app/stylesheets/site.scss */
.rowContainer {
  width: 100%;
  overflow: hidden;
  padding-bottom: 5px;
  height: 34px;
}

/* line 142, ../../../app/stylesheets/site.scss */
.rowContainer label {
  width: 140px;
  float: left;
  color: #758656;
  font-weight: bold;
}

/* line 149, ../../../app/stylesheets/site.scss */
.rowContainer input[type="text"] {
  width: 200px;
}

/* line 153, ../../../app/stylesheets/site.scss */
.tooltipContainer {
  height: 16px;
  font-size: 11px;
  color: #666666;
  display: none;
  float: none;
  background-repeat: no-repeat;
  background-position: left center;
  padding: 0px 20px;
}

/* line 168, ../../../app/stylesheets/site.scss */
.error {
  color: #990000;
}

/* 
	Cusco Sky table styles
	written by Braulio Soncco http://www.buayacorp.com
*/
/* line 181, ../../../app/stylesheets/site.scss */
table, th, td {
  border: 1px solid #D4E0EE;
  border-collapse: collapse;
  font-family: "Trebuchet MS", Arial, sans-serif;
  color: #555;
}

/* line 188, ../../../app/stylesheets/site.scss */
caption {
  font-size: 150%;
  font-weight: bold;
  margin: 5px;
}

/* line 194, ../../../app/stylesheets/site.scss */
td, th {
  padding: 4px;
}

/* line 198, ../../../app/stylesheets/site.scss */
thead th {
  text-align: center;
  background: #E6EDF5;
  color: #4F76A3;
  font-size: 100% !important;
}

/* line 205, ../../../app/stylesheets/site.scss */
tbody th {
  font-weight: bold;
}

/* line 209, ../../../app/stylesheets/site.scss */
tbody tr {
  background: #FCFDFE;
}

/* line 211, ../../../app/stylesheets/site.scss */
tbody tr.odd {
  background: #F7F9FC;
}

/* line 213, ../../../app/stylesheets/site.scss */
table a:link {
  color: #718ABE;
  text-decoration: none;
}

/* line 218, ../../../app/stylesheets/site.scss */
table a:visited {
  color: #718ABE;
  text-decoration: none;
}

/* line 223, ../../../app/stylesheets/site.scss */
table a:hover {
  color: #718ABE;
  text-decoration: underline !important;
}

/* line 228, ../../../app/stylesheets/site.scss */
tfoot th, tfoot td {
  font-size: 85%;
}

/* line 233, ../../../app/stylesheets/site.scss */
.shadow1 {
  box-shadow: 5px 5px #818181;
  -webkit-box-shadow: 5px 5px #818181;
  -moz-box-shadow: 5px 5px #818181;
  filter: progid:DXImageTransform.Microsoft.dropShadow(color=#818181, offX=5, offY=5, positive=true);
  width: 500px;
  height: 100px;
  padding: 5px;
  background: lightgray;
  border: 1px solid black;
}

/* line 245, ../../../app/stylesheets/site.scss */
.shadow {
  box-shadow: 7px 7px 8px #818181;
  -webkit-box-shadow: 7px 7px 8px #818181;
  -moz-box-shadow: 7px 7px 8px #818181;
  filter: progid:DXImageTransform.Microsoft.dropShadow(color=#818181, offX=7, offY=7, positive=true);
  width: 500px;
  height: 100px;
  padding: 5px;
  background: #f1f2f3;
  border: 1px solid black;
}

/* line 256, ../../../app/stylesheets/site.scss */
#tearshape {
  background: #f1f2f3;
  padding: 3px 5px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  -moz-border-radius: 9px 3px 9px 3px;
  -webkit-border-radius: 3px;
  -webkit-border-top-left-radius: 9px;
  -webkit-border-bottom-right-radius: 9px;
}

/* line 267, ../../../app/stylesheets/site.scss */
#roundshape {
  background: #eaf2f5;
  padding: 3px 5px;
  margin: 10px 10px 0 0;
  color: black;
  font-weight: bold;
  text-decoration: none;
  -moz-border-radius: 9px 9px 9px 9px;
  -webkit-border-radius: 3px;
}

/* line 279, ../../../app/stylesheets/site.scss */
.round {
  background: #eaf2f5;
  padding: 3px 5px;
  color: black;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px;
}

/* line 287, ../../../app/stylesheets/site.scss */
.curlycontainer {
  border: 1px solid #b8b8b8;
  margin-bottom: 1em;
  width: 300px;
}

/* line 293, ../../../app/stylesheets/site.scss */
.curlycontainer .innerdiv {
  background: transparent url(brcorner.gif) bottom right no-repeat;
  position: relative;
  left: 2px;
  top: 2px;
  padding: 1px 4px 15px 5px;
}
