/* line 1, ../../../app/stylesheets/site.scss */
#sidebar {
  width: 180px;
  /*width of menu*/
}

/* line 5, ../../../app/stylesheets/site.scss */
#headerbar {
  font: bold 14px Arial;
  color: white;
  background: black url(titlebar.png) repeat-x center left;
  margin-bottom: 10px;
  /*bottom spacing between header and rest of content*/
  text-transform: uppercase;
  padding: 4px 0 4px 10px;
  /*header text is indented 10px*/
}

/* line 14, ../../../app/stylesheets/site.scss */
#tabs3 {
  float: left;
  width: 100%;
  background: #E4E6EB;
  font-size: 93%;
  line-height: normal;
}

/* line 21, ../../../app/stylesheets/site.scss */
#tabs3 ul {
  margin: 0;
  padding: 10px 10px 0 50px;
  list-style: none;
}

/* line 26, ../../../app/stylesheets/site.scss */
#tabs3 li {
  display: inline;
  margin: 0;
  padding: 0;
}

/* line 31, ../../../app/stylesheets/site.scss */
#tabs3 a {
  float: left;
  background: url("tableft3.gif") no-repeat left top;
  margin: 0;
  padding: 0 0 0 4px;
  text-decoration: none;
}

/* line 38, ../../../app/stylesheets/site.scss */
#tabs3 a span {
  float: left;
  display: block;
  background: url("tabright3.gif") no-repeat right top;
  padding: 5px 15px 4px 6px;
  color: #FFF;
}

/* line 47, ../../../app/stylesheets/site.scss */
.invertedshiftdown2 {
  padding: 0;
  width: 100%;
  border-top: 5px solid #D10000;
  /*Highlight red color theme*/
  background: transparent;
  voice-family: "\"}\"";
  voice-family: inherit;
}

/* line 56, ../../../app/stylesheets/site.scss */
.invertedshiftdown2 ul {
  margin: 0;
  margin-left: 140px;
  /*margin between first menu item and left browser edge*/
  padding: 0;
  list-style: none;
}

/* line 63, ../../../app/stylesheets/site.scss */
.invertedshiftdown2 li {
  display: inline;
  margin: 0 2px 0 0;
  padding: 0;
  text-transform: uppercase;
}

/* line 70, ../../../app/stylesheets/site.scss */
.invertedshiftdown2 a {
  float: left;
  display: block;
  font: bold 12px Arial;
  color: black;
  text-decoration: none;
  margin: 0 1px 0 0;
  /*Margin between each menu item*/
  padding: 5px 10px 5px 10px;
  /*Padding within each menu item*/
  background-color: lightblue;
  /*Default menu color*/
  border-bottom: 8px solid white;
}

/* line 82, ../../../app/stylesheets/site.scss */
.invertedshiftdown2 a:hover {
  background-color: #D10000;
  /*Highlight red color theme*/
  padding-top: 10px;
  /*Set padding-top value to default's padding-top + padding-bottom */
  padding-bottom: 0;
  /*Set padding-bottom value to 0 */
  border-bottom-color: #D10000;
  /*Highlight red color theme*/
  color: white;
}

/* line 90, ../../../app/stylesheets/site.scss */
.invertedshiftdown2 .current a {
  /** currently selected menu item **/
  background-color: #D10000;
  /*Highlight red color theme*/
  padding-top: 10px;
  /*Set padding-top value to default's padding-top + padding-bottom */
  padding-bottom: 0;
  /*Set padding-bottom value to 0 */
  border-bottom-color: #D10000;
  /*Highlight red color theme*/
  color: white;
}

/* line 98, ../../../app/stylesheets/site.scss */
#myform {
  /*CSS for sample search box. Remove if desired */
  float: right;
  margin: 0;
  margin-top: 2px;
  padding: 0;
}

/* line 105, ../../../app/stylesheets/site.scss */
#myform .textinput {
  width: 190px;
  border: 1px solid gray;
}

/* line 110, ../../../app/stylesheets/site.scss */
#myform .submit {
  font: normal 12px Verdana;
  height: 22px;
  border: 1px solid #D10000;
  background-color: black;
  color: white;
}

/* line 121, ../../../app/stylesheets/site.scss */
.formContainer {
  background-color: #eaf2f5;
  border: none;
  padding: 30px;
  width: 600px;
  margin: 50px auto;
}

/* line 131, ../../../app/stylesheets/site.scss */
.formContainer h3 {
  margin: 0px;
  padding: 0px 0px 10px 0px;
  font-size: 135%;
}

/* line 137, ../../../app/stylesheets/site.scss */
.rowContainer {
  width: 100%;
  overflow: hidden;
  padding-bottom: 5px;
  height: 34px;
}

/* line 144, ../../../app/stylesheets/site.scss */
.rowContainer label {
  width: 140px;
  float: left;
  color: #758656;
  font-weight: bold;
}

/* line 151, ../../../app/stylesheets/site.scss */
.rowContainer input[type="text"] {
  width: 200px;
}

/* line 155, ../../../app/stylesheets/site.scss */
.tooltipContainer {
  height: 16px;
  font-size: 11px;
  color: #666666;
  display: none;
  float: none;
  background-repeat: no-repeat;
  background-position: left center;
  padding: 0px 20px;
}

/* line 170, ../../../app/stylesheets/site.scss */
.error {
  color: #990000;
}

/* 
	Cusco Sky table styles
	written by Braulio Soncco http://www.buayacorp.com
*/
/* line 182, ../../../app/stylesheets/site.scss */
table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* line 187, ../../../app/stylesheets/site.scss */
table, th, td {
  /*border: 1px solid #D4E0EE;*/
  border-collapse: collapse;
  /*font-family: "Trebuchet MS", Arial, sans-serif;*/
  color: #555;
}

/* line 194, ../../../app/stylesheets/site.scss */
caption {
  font-size: 150%;
  font-weight: bold;
  margin: 5px;
}

/* line 200, ../../../app/stylesheets/site.scss */
td, th {
  padding: 4px;
}

/* line 204, ../../../app/stylesheets/site.scss */
thead th {
  border-bottom: 1px solid #D4E0EE;
  text-align: left;
  background: #E6EDF5;
  color: #4F76A3;
  font-size: 100% !important;
}

/* line 212, ../../../app/stylesheets/site.scss */
tbody th {
  font-weight: bold;
}

/* line 216, ../../../app/stylesheets/site.scss */
tbody tr {
  background: #FCFDFE;
  /*border-bottom: 1px solid #D4E0EE;*/
}

/* line 221, ../../../app/stylesheets/site.scss */
tbody tr.double {
  border-top: 1px solid #D4E0EE;
}

/* line 224, ../../../app/stylesheets/site.scss */
tbody tr.odd {
  /*background: #F7F9FC;*/
  border-top: 1px solid #D4E0EE;
  border-bottom: 1px solid #D4E0EE;
}

/* line 229, ../../../app/stylesheets/site.scss */
table a.operate {
  font-size: 11px;
  color: black;
  background-color: white;
  border: 1px solid gray;
  display: inline-block;
  padding: 3px 8px 4px;
  text-decoration: none;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

/* line 244, ../../../app/stylesheets/site.scss */
table a.operate:hover {
  color: white;
  text-decoration: none;
}

/* line 248, ../../../app/stylesheets/site.scss */
table a.operate:hover {
  background-color: #fc9200;
}

/* line 251, ../../../app/stylesheets/site.scss */
table a:link {
  color: #718ABE;
  text-decoration: none;
}

/* line 256, ../../../app/stylesheets/site.scss */
table a:visited {
  color: #718ABE;
  text-decoration: none;
}

/* line 261, ../../../app/stylesheets/site.scss */
table a:hover {
  color: #718ABE;
  /*text-decoration: underline !important;*/
  text-decoration: none;
}

/* line 267, ../../../app/stylesheets/site.scss */
tfoot th, tfoot td {
  font-size: 85%;
}

/* line 272, ../../../app/stylesheets/site.scss */
.shadow1 {
  box-shadow: 5px 5px #818181;
  -webkit-box-shadow: 5px 5px #818181;
  -moz-box-shadow: 5px 5px #818181;
  filter: progid:DXImageTransform.Microsoft.dropShadow(color=#818181, offX=5, offY=5, positive=true);
  width: 500px;
  height: 100px;
  padding: 5px;
  background: lightgray;
  border: 1px solid black;
}

/* line 284, ../../../app/stylesheets/site.scss */
.shadow {
  box-shadow: 7px 7px 8px #818181;
  -webkit-box-shadow: 7px 7px 8px #818181;
  -moz-box-shadow: 7px 7px 8px #818181;
  filter: progid:DXImageTransform.Microsoft.dropShadow(color=#818181, offX=7, offY=7, positive=true);
  width: 500px;
  height: 100px;
  padding: 5px;
  background: #f1f2f3;
  border: 1px solid black;
}

/* line 295, ../../../app/stylesheets/site.scss */
#tearshape {
  background: #f1f2f3;
  padding: 3px 5px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  -moz-border-radius: 9px 3px 9px 3px;
  -webkit-border-radius: 3px;
  -webkit-border-top-left-radius: 9px;
  -webkit-border-bottom-right-radius: 9px;
}

/* line 306, ../../../app/stylesheets/site.scss */
#roundshape {
  background: #eaf2f5;
  padding: 3px 5px;
  margin: 10px 10px 0 0;
  color: black;
  font-weight: bold;
  text-decoration: none;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px;
}

/* line 318, ../../../app/stylesheets/site.scss */
.round {
  background: #eaf2f5;
  padding: 3px 5px;
  color: black;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px;
}

/* line 326, ../../../app/stylesheets/site.scss */
.curlycontainer {
  border: 1px solid #b8b8b8;
  margin-bottom: 1em;
  width: 300px;
}

/* line 332, ../../../app/stylesheets/site.scss */
.curlycontainer .innerdiv {
  background: transparent url(brcorner.gif) bottom right no-repeat;
  position: relative;
  left: 2px;
  top: 2px;
  padding: 1px 4px 15px 5px;
}

/* line 340, ../../../app/stylesheets/site.scss */
.bordershape {
  padding: 3px 5px;
  margin: 10px 10px 0 0;
  border: 1px dashed #92cdec;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px;
}

/* line 347, ../../../app/stylesheets/site.scss */
.bordershape a {
  text-decoration: none;
}

/* line 350, ../../../app/stylesheets/site.scss */
.solidshape {
  padding: 3px 5px;
  margin: 10px 10px 0 0;
  border: 1px solid #92cdec;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px;
}

/* line 358, ../../../app/stylesheets/site.scss */
.fullshape {
  font-size: 14px;
  text-align: center;
  width: 85%;
  /*background-color: #3274d1;*/
  border: 1px solid #3274d1;
  padding: 3px 5px;
  margin: 10px auto;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px;
}

/* ---------------------------------------- index page customer service ------------------------------------------ */
/*html{font-size:62.5%}
body{font-size:1.2em;color:#294f88}*/
/*.customer_service {margin:10px;border:1px solid #92cdec;background:#d7e7ff;padding:30px 30px 0 30px}*/
/* line 373, ../../../app/stylesheets/site.scss */
.customer_service {
  margin: 10px auto;
  background-color: white;
  color: #0066cc;
  padding: 30px 30px 0 30px;
  font: bold;
  font-size: 18px;
  height: 30px;
}

/*h1{margin:0;padding:0 0 30px 0;font-size:2em}
h2{margin:0;padding:10px 0 5px 0;font-size:1.5em;clear:both}
p{font-size:1.2em;line-height:170%;margin-bottom:30px;clear:both}
ul,ol{padding:0;margin:0;font-size:1.2em}
*/
/* line 382, ../../../app/stylesheets/site.scss */
.customer_service h1 {
  margin: 0;
  padding: 0 0 10px 0;
  font-size: 1.2em;
}

/* line 383, ../../../app/stylesheets/site.scss */
.customer_service p {
  font-size: 1.2em;
  line-height: 170%;
  margin-bottom: 30px;
  clear: both;
}

/* line 384, ../../../app/stylesheets/site.scss */
.customer_service ul, ol {
  padding: 0;
  margin: 0;
  font-size: 1em;
}

/* line 385, ../../../app/stylesheets/site.scss */
.customer_service ul, .customer_service ol {
  list-style-type: none;
  background: url(/images/dotted.gif) 0 0 repeat-x;
  width: 180px;
  float: left;
  margin: 0 10px 30px 0;
}

/* line 392, ../../../app/stylesheets/site.scss */
.customer_service li {
  background: url(/images/dotted.gif) bottom left repeat-x;
  width: 180px;
  float: left;
  padding: 0;
}

/* line 398, ../../../app/stylesheets/site.scss */
.customer_service li a {
  padding: 8px 20px 8px 0;
  width: 160px;
  float: left;
  background: url(/images/arrow-right.gif) right 12px no-repeat;
  text-decoration: none;
  color: #294f88;
}

/* line 399, ../../../app/stylesheets/site.scss */
.customer_service li a:hover {
  background-image: url(/images/arrow-right-dark.gif);
}

/* table sorter style */
/* line 402, ../../../app/stylesheets/site.scss */
table.tablesorter thead tr .header {
  /*background-image: url(/images/bg.gif);*/
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}

/* line 408, ../../../app/stylesheets/site.scss */
table.tablesorter tbody tr:hover {
  /*background: #dfeef9;*/
  background: #e6edf5;
}

/* line 412, ../../../app/stylesheets/site.scss */
table.tablesorter thead tr .headerSortUp {
  background-image: url(/images/asc.gif);
}

/* line 415, ../../../app/stylesheets/site.scss */
table.tablesorter thead tr .headerSortDown {
  background-image: url(/images/desc.gif);
}

/* line 418, ../../../app/stylesheets/site.scss */
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
  padding-right: 20px;
  background-color: #a3c0ea;
  color: white;
}

/* CSS3 buttons */
/* line 425, ../../../app/stylesheets/site.scss */
.button, .button:visited {
  background: #222222 url(/images/overlay.png) repeat-x;
  display: inline-block;
  padding: 5px 10px 6px;
  color: #fff;
  text-decoration: none;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  position: relative;
  cursor: pointer;
}

/* line 441, ../../../app/stylesheets/site.scss */
.button:hover {
  background-color: #111;
  color: #fff;
}

/* line 442, ../../../app/stylesheets/site.scss */
.button:active {
  top: 1px;
}

/* line 443, ../../../app/stylesheets/site.scss */
.small.button, .small.button:visited {
  font-size: 11px;
}

/* line 445, ../../../app/stylesheets/site.scss */
.button, .button:visited,
.medium.button, .medium.button:visited {
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}

/* line 452, ../../../app/stylesheets/site.scss */
.large.button, .large.button:visited {
  font-size: 14px;
  padding: 8px 14px 9px;
}

/* line 457, ../../../app/stylesheets/site.scss */
.super.button, .super.button:visited {
  font-size: 34px;
  padding: 8px 14px 9px;
}

/* line 462, ../../../app/stylesheets/site.scss */
.pink.button, .magenta.button:visited {
  background-color: #e22092;
}

/* line 463, ../../../app/stylesheets/site.scss */
.pink.button:hover {
  background-color: #c81e82;
}

/* line 464, ../../../app/stylesheets/site.scss */
.green.button, .green.button:visited {
  background-color: #91bd09;
}

/* line 465, ../../../app/stylesheets/site.scss */
.green.button:hover {
  background-color: #749a02;
}

/* line 466, ../../../app/stylesheets/site.scss */
.red.button, .red.button:visited {
  background-color: #e62727;
}

/* line 467, ../../../app/stylesheets/site.scss */
.red.button:hover {
  background-color: #cf2525;
}

/* line 468, ../../../app/stylesheets/site.scss */
.orange.button, .orange.button:visited {
  background-color: #ff5c00;
}

/* line 469, ../../../app/stylesheets/site.scss */
.orange.button:hover {
  background-color: #d45500;
}

/* line 470, ../../../app/stylesheets/site.scss */
.blue.button, .blue.button:visited {
  background-color: #2981e4;
}

/* line 471, ../../../app/stylesheets/site.scss */
.blue.button:hover {
  background-color: #2575cf;
}

/* line 472, ../../../app/stylesheets/site.scss */
.yellow.button, .yellow.button:visited {
  background-color: #ffb515;
}

/* line 473, ../../../app/stylesheets/site.scss */
.yellow.button:hover {
  background-color: #fc9200;
}

/* line 474, ../../../app/stylesheets/site.scss */
.white.button, .white.button:visited {
  background-color: white;
}

/* line 475, ../../../app/stylesheets/site.scss */
.white.button:hover {
  background-color: #fc9200;
}

/* line 478, ../../../app/stylesheets/site.scss */
#task_detail {
  font-size: 80%;
}

/* line 482, ../../../app/stylesheets/site.scss */
#nav a, #nav a:active, #nav a:visited {
  display: block;
  float: left;
  padding: 5px 8px;
  background: #DAF1C9;
  color: green;
  margin-right: 10px;
  text-decoration: none;
  outline: none;
}

/* line 492, ../../../app/stylesheets/site.scss */
#nav a.selected, #nav a.selected:active, #nav a.selected:visited {
  background: #C51D1D;
  color: #fff;
  text-decoration: none;
  outline: none;
}

/* line 498, ../../../app/stylesheets/site.scss */
#nav2 a, #nav2 a:active, #nav2 a:visited {
  display: block;
  float: left;
  padding: 5px 8px;
  background: #DAF1C9;
  color: green;
  margin-right: 10px;
  text-decoration: none;
  outline: none;
}

/* line 508, ../../../app/stylesheets/site.scss */
#nav2 a.selected, #nav2 a.selected:active, #nav2 a.selected:visited {
  background: #C51D1D;
  color: #fff;
  text-decoration: none;
  outline: none;
}

/* line 514, ../../../app/stylesheets/site.scss */
.hiddencontent, .hiddencontent2 {
  padding: 12px;
  background: white;
  display: none;
}

/* line 519, ../../../app/stylesheets/site.scss */
.clear {
  clear: both;
}

/* line 523, ../../../app/stylesheets/site.scss */
#notice_list {
  margin: 30px;
}

/* line 527, ../../../app/stylesheets/site.scss */
#notice_head {
  font: bold;
  font-size: 18px;
  color: #0066cc;
  border-bottom: 1px dotted #3274d1;
}

/* line 533, ../../../app/stylesheets/site.scss */
#notice_head h1 {
  margin: 0;
  padding: 0 0 10px 0;
  font-size: 1.2em;
}

/* line 538, ../../../app/stylesheets/site.scss */
#notice_title {
  font-size: 120%;
}

/* line 541, ../../../app/stylesheets/site.scss */
#notice_title a {
  display: block;
  text-decoration: none;
  outline: none;
  color: #0066cc;
}

/* line 547, ../../../app/stylesheets/site.scss */
#notice_date {
  color: gray;
  text-align: right;
  font-size: 80%;
}

/* line 552, ../../../app/stylesheets/site.scss */
#notice_body {
  border-bottom: 1px dotted #0066cc;
}

/*Google Style Menu */
/* line 558, ../../../app/stylesheets/site.scss */
.gmenu {
  margin-left: 200px;
  color: #3366CC;
  height: 30px;
}

/* line 565, ../../../app/stylesheets/site.scss */
.gmenu a:hover {
  background-color: #e4ebf8;
}

/* line 568, ../../../app/stylesheets/site.scss */
.gmenu a {
  text-decoration: none;
  padding: 4px 8px 7px;
  color: #3366CC;
  outline: none;
}

/* line 574, ../../../app/stylesheets/site.scss */
.gmenu ul {
  list-style: none;
  margin: 0;
  padding: 0 0 0 10px;
}

/* line 579, ../../../app/stylesheets/site.scss */
.gmenu ul li {
  padding: 0;
  float: left;
}

/* line 584, ../../../app/stylesheets/site.scss */
.gmenu ul li ul li {
  padding: 0;
  float: none;
  margin: 0 0 0 0px;
  width: 100%;
}

/* line 590, ../../../app/stylesheets/site.scss */
.gmenu ul li ul {
  position: absolute;
  border: 1px solid #C3D1EC;
  box-shadow: 0 1px 5px #CCCCCC;
  margin-top: -1px;
  display: none;
  padding: 0px 16px 0px 0;
}

/* line 598, ../../../app/stylesheets/site.scss */
.active ul {
  display: block !important;
}

/* line 601, ../../../app/stylesheets/site.scss */
.active a {
  background-color: white;
  border: 1px solid #C3D1EC;
  border-bottom: 0;
  box-shadow: 0 -1px 5px #cccccc;
  display: block;
  height: 29px;
  padding: 0 8px 0 8px;
  position: relative;
  z-index: 1;
}

/* line 612, ../../../app/stylesheets/site.scss */
.active a:hover {
  background-color: white;
}

/* line 615, ../../../app/stylesheets/site.scss */
.active ul a:hover {
  background-color: #e4ebf8;
}

/* line 619, ../../../app/stylesheets/site.scss */
.active ul a {
  border: 0 !important;
  box-shadow: 0 0 0 #CCCCCC;
  border: 0;
  width: 100%;
}

/* line 625, ../../../app/stylesheets/site.scss */
.garrow {
  border-color: #3366CC transparent transparent;
  border-style: solid dashed dashed;
  margin-left: 5px;
  position: relative;
  top: 20px;
}
