/*{ margin:0; padding:0; }*/

#newsticker-demo { 
width:90%; 
      /*background:#EAF4F5; */
padding:5px 5px 0; 
        font-family:Verdana,Arial,Sans-Serif;
        font-size:12px;
margin:20px auto;
}

#newsticker-demo a { text-decoration:none; }
#newsticker-demo img { border: 2px solid #FFFFFF; }

#newsticker-demo .title {
/*background:#EAF4F5;*/
background:#3274d1;
color:white;
           text-align:center;
           font-size:14px;
           font-weight:bold;
padding:5px;
}

.newsticker-jcarousellite { width:100%; }
.newsticker-jcarousellite ul li{ list-style:none; display:block; padding-bottom:1px; margin-bottom:5px; }
.newsticker-jcarousellite .thumbnail { float:right; width:110px; }
.newsticker-jcarousellite .info { float:left; width:190px; height:40px;}
.newsticker-jcarousellite .info span.cat { display: block; font-size:10px; color:#808080; }

.clear { clear: both; }
