#sidebar {
width: 180px; /*width of menu*/
}

#headerbar{
font: bold 14px Arial;
color: white;
background: black url(titlebar.png) repeat-x center left;
margin-bottom: 10px; /*bottom spacing between header and rest of content*/
text-transform: uppercase;
padding: 4px 0 4px 10px; /*header text is indented 10px*/
}

#tabs3 {
  float:left;
  width:100%;
  background:#E4E6EB;
  font-size:93%;
  line-height:normal;
}
#tabs3 ul {
  margin:0;
  padding:10px 10px 0 50px;
  list-style:none;
}
#tabs3 li {
  display:inline;
  margin:0;
  padding:0;
}
#tabs3 a {
  float:left;
  background:url("tableft3.gif") no-repeat left top;
  margin:0;
  padding:0 0 0 4px;
  text-decoration:none;
}
#tabs3 a span {
  float:left;
  display:block;
  background:url("tabright3.gif") no-repeat right top;
  padding:5px 15px 4px 6px;
  color:#FFF;
}


.invertedshiftdown2{
  padding: 0;
  width: 100%;
  border-top: 5px solid #D10000; /*Highlight red color theme*/
  background: transparent;
  voice-family: "\"}\"";
  voice-family: inherit;
}

.invertedshiftdown2 ul{
  margin:0;
  margin-left: 140px; /*margin between first menu item and left browser edge*/
  padding: 0;
  list-style: none;
}

.invertedshiftdown2 li{
  display: inline;
  margin: 0 2px 0 0;
  padding: 0;
  text-transform:uppercase;
}

.invertedshiftdown2 a{
  float: left;
  display: block;
  font: bold 12px Arial;
  color: black;
  text-decoration: none;
  margin: 0 1px 0 0; /*Margin between each menu item*/
  padding: 5px 10px 5px 10px; /*Padding within each menu item*/
  background-color: lightblue; /*Default menu color*/
  border-bottom: 8px solid white;
}

.invertedshiftdown2 a:hover{
  background-color: #D10000; /*Highlight red color theme*/
  padding-top: 10px; /*Set padding-top value to default's padding-top + padding-bottom */
  padding-bottom: 0; /*Set padding-bottom value to 0 */
  border-bottom-color: #D10000; /*Highlight red color theme*/
  color: white;
}

.invertedshiftdown2 .current a{ /** currently selected menu item **/
  background-color: #D10000; /*Highlight red color theme*/
  padding-top: 10px; /*Set padding-top value to default's padding-top + padding-bottom */
  padding-bottom: 0; /*Set padding-bottom value to 0 */
  border-bottom-color: #D10000; /*Highlight red color theme*/
  color: white;
}

#myform{ /*CSS for sample search box. Remove if desired */
  float: right;
  margin: 0;
  margin-top: 2px;
  padding: 0;
}

#myform .textinput{
  width: 190px;
  border: 1px solid gray;
}

#myform .submit{
  font: normal 12px Verdana;
  height: 22px;
  border: 1px solid #D10000;
  background-color: black;
  color: white;
}


//==================================================
.formContainer
{
  //background-color: #F5EFC9;
  background-color: #a9cff3;
  border:none;
  padding:30px;
  width: 600px;
}
.formContainer h3
{
  margin:0px;
  padding:0px 0px 10px 0px;
  font-size:135%;
}
.rowContainer
{
  width:100%;
  overflow:hidden;
  padding-bottom:5px;
  height:34px;
}
.rowContainer label
{
  width:140px;
  float:left;
  color: #758656;
  font-weight:bold;
}
.rowContainer input[type="text"]
{
  width:200px;
}
.tooltipContainer
{
  height:16px;
  font-size:11px;
  color: #666666;
  display:none;
  float:none;
  background-repeat:no-repeat;
  background-position:left center;
  padding:0px 20px;
}
.info
{
  //background-image:url('info.gif');
}
.error
{
  //background-image:url('error.gif');
  color: #990000;
}


//==================================================

/* 
	Cusco Sky table styles
	written by Braulio Soncco http://www.buayacorp.com
*/

table, th, td {
	border: 1px solid #D4E0EE;
	border-collapse: collapse;
	font-family: "Trebuchet MS", Arial, sans-serif;
	color: #555;
}

caption {
	font-size: 150%;
	font-weight: bold;
	margin: 5px;
}

td, th {
	padding: 4px;
}

thead th {
	text-align: center;
	background: #E6EDF5;
	color: #4F76A3;
	font-size: 100% !important;
}

tbody th {
	font-weight: bold;
}

tbody tr { background: #FCFDFE; }

tbody tr.odd { background: #F7F9FC; }

table a:link {
	color: #718ABE;
	text-decoration: none;
}

table a:visited {
	color: #718ABE;
	text-decoration: none;
}

table a:hover {
	color: #718ABE;
	text-decoration: underline !important;
}

tfoot th, tfoot td {
	font-size: 85%;
}

// ====================
.shadow1{
  box-shadow: 5px 5px #818181;
  -webkit-box-shadow: 5px 5px #818181;
  -moz-box-shadow: 5px 5px #818181;
  filter: progid:DXImageTransform.Microsoft.dropShadow(color=#818181, offX=5, offY=5, positive=true);
  width:500px; 
  height:100px; 
  padding:5px; 
  background: lightgray; 
  border: 1px solid black;
}

.shadow{
  box-shadow: 7px 7px 8px #818181;
  -webkit-box-shadow: 7px 7px 8px #818181;
  -moz-box-shadow: 7px 7px 8px #818181;
  filter: progid:DXImageTransform.Microsoft.dropShadow(color=#818181, offX=7, offY=7, positive=true);
  width:500px; 
  height:100px; 
  padding:5px; 
  background: #f1f2f3; 
  border: 1px solid black;
}
#tearshape{
  background: #f1f2f3;
  padding: 3px 5px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  -moz-border-radius: 9px 3px 9px 3px;
  -webkit-border-radius: 3px;
  -webkit-border-top-left-radius: 9px;
  -webkit-border-bottom-right-radius: 9px;
}
#roundshape{
  background: #eaf2f5;
  padding: 3px 5px;
  margin: 10px 10px 0 0;
  color: black;
  font-weight: bold;
  text-decoration: none;
  -moz-border-radius: 9px 9px 9px 9px;
  -webkit-border-radius: 3px;
  //-webkit-border-top-left-radius: 9px;
  //-webkit-border-bottom-right-radius: 9px;
}
.round {
  background: #eaf2f5;
  padding: 3px 5px;
  color: black;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px;
}

.curlycontainer{
border: 1px solid #b8b8b8;
margin-bottom: 1em;
width: 300px;
}

.curlycontainer .innerdiv{
background: transparent url(brcorner.gif) bottom right no-repeat;
position: relative;
left: 2px;
top: 2px;
padding: 1px 4px 15px 5px;
}

.bordershape { 
  margin:10px; border: 1px dashed #92cdec;
  -moz-border-radius: 9px 9px 9px 9px;
  -webkit-border-radius: 3px;
}
.bordershape a {
	text-decoration: none;
}
/* ---------------------------------------- index page customer service ------------------------------------------ */
/*html{font-size:62.5%}
body{font-size:1.2em;color:#294f88}*/
/*.customer_service {margin:10px;border:1px solid #92cdec;background:#d7e7ff;padding:30px 30px 0 30px}*/
.customer_service {margin:10px;border-bottom:1px solid #92cdec;padding:30px 30px 0 30px; background:url(/images/manager.png) no-repeat right }
/*h1{margin:0;padding:0 0 30px 0;font-size:2em}
h2{margin:0;padding:10px 0 5px 0;font-size:1.5em;clear:both}
p{font-size:1.2em;line-height:170%;margin-bottom:30px;clear:both}
ul,ol{padding:0;margin:0;font-size:1.2em}
*/
.customer_service h1{margin:0;padding:0 0 10px 0;font-size:1.2em}
.customer_service p{font-size:1.2em;line-height:170%;margin-bottom:30px;clear:both}
.customer_service ul,ol{padding:0;margin:0;font-size:1em}
.customer_service ul,.customer_service ol{list-style-type:none;background:url(/images/dotted.gif) 0 0 repeat-x;width:180px;float:left;margin:0 10px 30px 0}
.customer_service li{background:url(/images/dotted.gif) bottom left repeat-x;width:180px;float:left;padding:0}
.customer_service li a{padding:8px 20px 8px 0;width:160px;float:left;background:url(/images/arrow-right.gif) right 12px no-repeat;text-decoration:none;color:#294f88}
.customer_service li a:hover{background-image:url(/images/arrow-right-dark.gif)}
