#roundshape
  = link_to t('account.charge'), :controller=>'account', :action=>'charge_log', :id=>@user
  \|
  = link_to t('site.small_cash'), :controller=>'account', :action=>'small_cash', :id=>@user
  \|
  = link_to t('site.big_cash'), :controller=>'account', :action=>'big_cash', :id=>@user

